# Byte-compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
venvRAG/
.venv/


# Python build files
build/
dist/
*.egg-info/

# Temporary files and logs
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Config and sensitive files
config/settings.yaml

# PyCharm and VSCode files
.idea/
.vscode/

# Operating system files
Thumbs.db
.DS_Store

# Test output
*.out
*.coverage

# Hugging Face cache
huggingface_cache/
transformers_cache/